.body {
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 500px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todo_list {
  /* background-color: rgba(255, 255, 255, 0.794); */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.todo_item {
  display: flex;
  align-items: center;
}

.add_todo{
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /* border: 1px solid black; */
  width: 500px;
}

#todo_name {
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
  margin-block-start: 10px;
  margin-block-end: 10px;
  word-break: break-all;
}

input {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}

#text_field {
  border: 1px solid white;
  border-radius: 10px;
  width: 85%;
}

#submit_button {
  background-color: #282c34;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  width:15%;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

#submit_button:hover {
  background: rgba(255, 255, 255, 0.25);
}


.checkbox {
  width: 20px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 1px solid #fff;
}

.checkbox:hover {
  background: rgba(255, 255, 255, 0.25);
}

.checkbox-checked {
  color: #000;
  background: #fff;
}

.is_done .checkbox {
  color: #000;
  background: #fff;
}

.is_done {
  display: flex;
  align-items: center;
}

.is_done #todo_name {
  text-decoration: line-through;
}

#clear_button {

}

#trash {
  height: 25px;
  width: 30px;
  background-color: #282c34;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#trash:hover {
  background: rgba(255, 255, 255, 0.25);
}

.trash_icon {
  display: flex;
  height: 16px;
  width: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
